# BENCHMARK
## Analisi diffusione COVID-19  nel mondo

In [4]:
import pandas as pd

# inserire path assoluto da pc

df = pd.read_csv ("C:/Users/CANTJA01/Downloads/owid-covid-data.csv", low_memory=False, delimiter=",")

### Si richiede di verificare le dimensioni del dataset e le diciture presenti nell'intestazione

#### - dimensioni delle file (righe, colonne)

In [7]:
print ( "Il dataset è composto da {} righe e {} colonne".format(df.shape[0],df.shape[1]) )

Il dataset è composto da 311417 righe e 67 colonne

#### - diciture intestazione

In [17]:
list(df.head(0))

['iso_code',
 'continent',
 'location',
 'date',
 'total_cases',
 'new_cases',
 'new_cases_smoothed',
 'total_deaths',
 'new_deaths',
 'new_deaths_smoothed',
 'total_cases_per_million',
 'new_cases_per_million',
 'new_cases_smoothed_per_million',
 'total_deaths_per_million',
 'new_deaths_per_million',
 'new_deaths_smoothed_per_million',
 'reproduction_rate',
 'icu_patients',
 'icu_patients_per_million',
 'hosp_patients',
 'hosp_patients_per_million',
 'weekly_icu_admissions',
 'weekly_icu_admissions_per_million',
 'weekly_hosp_admissions',
 'weekly_hosp_admissions_per_million',
 'total_tests',
 'new_tests',
 'total_tests_per_thousand',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'positive_rate',
 'tests_per_case',
 'tests_units',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'total_boosters',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'total_boosters_per_hundred',
 'new_vaccinations_smoothed_per_million',
 'new_people_vaccinated_smoothed',
 'new_people_vaccinated_smoothed_per_hundred',
 'stringency_index',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index',
 'population',
 'excess_mortality_cumulative_absolute',
 'excess_mortality_cumulative',
 'excess_mortality',
 'excess_mortality_cumulative_per_million']

### Si richiede poi per ogni continente di trovare il numero di casi totali avvenuti in quello stesso continente;si chiede di non considerare eventuali locazioni che nel dataset non appartengono ad alcun continente

In [130]:
df_continents = df[["continent","new_cases"]].groupby("continent").sum()
df_continents

                 new_cases
continent
Africa          13088991.0
Asia           297234406.0
Europe         249319188.0
North America  124175560.0
Oceania         14073975.0
South America   68568119.0

In [132]:
world_cases = int(df_continents.new_cases.sum())
print("I casi nel mondo sono",world_cases)

I casi nel mondo sono 766460239

### Sempre riguardo i casi COVID totali, si chiede di sviluppare una funzione che prenda in input il dataset e due nomi di continenti, e che ne confronti i seguenti relatori statistici: valore minimo e massimo, media e percentuale rispetto al numero dei casi totali nel mondo (in questo caso calcolati anche sulle locazioni senza indicazioni di continente).

In [104]:
def statistiche_casi(df,cont_a, cont_b):   
    continenti = (cont_a, cont_b)
    statistiche=list()
    for continente in continenti:
        condizione = df.continent == continente
        dg=df.loc[condizione][["continent", "new_cases"]]
        max = dg.groupby("continent").max().iat[0,0]
        min = dg.groupby("continent").min().iat[0,0]
        mean = dg.groupby("continent").mean().iat[0,0]
        percentage = dg.groupby("continent").sum().iat[0,0]/world_cases*100
        statistica = [min, max, mean, percentage]
        statistiche.append(statistica)
    return pd.DataFrame(statistiche,columns=["min", "max", "mean", "percentage"],index=[cont_a,cont_b])

In [110]:
statistiche_casi(df,"Asia","Africa")

        min        max         mean  percentage
Asia    0.0  6966046.0  5142.107916   38.780147
Africa  0.0    46914.0   186.567142    1.707720

### Si chiede poi di effettuare lo stesso tipo di analisi - anche in questo caso sviluppando una funzione ad hoc - per il numero di vaccinazioni totali per ogni continente.

In [124]:
dfv_continents = df[["continent","new_vaccinations"]].groupby("continent").sum()
dfv_continents

               new_vaccinations
continent
Africa             1.173671e+08
Asia               7.547792e+09
Europe             1.264678e+09
North America      9.974589e+08
Oceania            7.454216e+07
South America      8.430918e+08

In [133]:
world_vaccinations = int(dfv_continents.new_vaccinations.sum())
print("Le vaccinazioni nel mondo sono",world_vaccinations)

I casi nel mondo sono 10844929022

In [135]:
def statistiche_vaccini(df,cont_a, cont_b):   
    continenti = (cont_a, cont_b)
    statistiche=list()
    for continente in continenti:
        condizione = df.continent == continente
        dg=df.loc[condizione][["continent", "new_vaccinations"]]
        max = dg.groupby("continent").max().iat[0,0]
        min = dg.groupby("continent").min().iat[0,0]
        mean = dg.groupby("continent").mean().iat[0,0]
        percentage = dg.groupby("continent").sum().iat[0,0]/world_vaccinations*100
        statistica = [min, max, mean, percentage]
        statistiche.append(statistica)
    return pd.DataFrame(statistiche,columns=["min", "max", "mean", "percentage"],index=[cont_a,cont_b])

In [136]:
statistiche_vaccini(df,"Asia","Africa")

        min         max           mean  percentage
Asia    0.0  24741000.0  510537.849499   69.597427
Africa  0.0   1866822.0   42203.190939    1.082230

### Alla fine, basandosi sui calcoli fatti, il committente chiede di stilare un breve (tre o quattro righe) paragrafo testuale riassuntivo sulle statistiche di casi e vaccinazioni, che si concentri solo sulle differenze esistenti tra Europa, Sud America, e Oceania.

In [142]:
pd.concat([statistiche_vaccini (df, "Europe","Oceania"),statistiche_vaccini (df, "South America","Oceania")], axis=0).head(3)

               min        max           mean  percentage
Europe         0.0  2389472.0   59979.962865   11.661464
Oceania        1.0   351226.0   56859.011442    0.687346
South America  1.0  3976605.0  150794.457521    7.774065

#### Le principali differenze che si evincono tra i tre continenti presi in considerazionione in merito al numero massimo di casi registrati si può evincere che l'America del Sud registra il maggior numero in assoluto di casi segguita da Europa e in fine abbiamo l'Oceania. In termini di media di contagi la precedente classifica si riconferma. Per quanto riguarda invece la percentuale dui vasi totali registrati a livello mondiale  l'Europa passa al primo posto. Questi dati andrebbero normalizzati in funzione della popolazione per essere rappresentativi e più efficacemente confrontabili.